@{ 
    Layout = "~/Views/Shared/_DummyLayout.cshtml";
}

<div id="MainPage">
    <header id="mainheader" class="mainheader bg-primary">
        <div id="searchcontainer">
            @Html.Action("Search")
        </div>
    </header>
    <div>
        @*@Html.Partial("DisplayPage", new ViewDataDictionary { { "Products", ViewBag.Products }, { "Filters", ViewBag.Filters } })*@
        @{
            if (ViewBag.nothing != null)
            {
                <div>
                    @Html.Partial("ErrorPage")
                </div>
            }
            else
            {
                <div id="mainbody" class="mainbody">
                    @Html.Partial("DisplayPage")
                </div>
            }
        }
    </div>
</div>
