@model DAL.Models.CategorySub
@{ 
    ViewBag.Title = "Search";
}

<div>
    @using (Html.BeginForm("Result","Home"))
{
<fieldset>
    <div class="input-wrapper">
        @if (ViewBag.categoryList != null)
        {
            @Html.DropDownListFor(model => model.CategoryID, ViewBag.categoryList as SelectList, "Category", new { @class = "categoryDrop" })
        }
        @Html.EditorFor(model => model.userInput, new { htmlAttributes = new { @class = "input", @placeholder = "Type here..." } })
        @Html.DropDownListFor(model => model.SubCategoryID, new SelectList(" "), "SubCategory", new { @class = "SubCategoryDrop" })
        <button type="submit" class="searchBtn">Go</button>
    </div>
    <div>
        @Html.ValidationMessageFor(model => model.userInput, "", new { @class = "text-danger" })
        
    </div>
</fieldset>
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<script>
    $(document).ready(function () {
        $("#CategoryID").change(function () {
            $.get("/Home/GetSubList", { CategoryID: $("#CategoryID").val() }, function (data) {
                $("#SubCategoryID").empty();
                $.each(data, function (index, row) {
                    $("#SubCategoryID").append("<option value='" + row.SubCategoryID + "'>"+row.SubCategoryName+"</option>")
                });
            });
        })
    });
</script>
</div>
